@font-face {
    font-family: 'LeagueGothic';
    src: url('LeagueGothic-Regular.otf') format('otf'),
         url('LeagueGothic-CondensedRegular.otf') format('otf');
        
    font-weight: normal;
    font-style: normal;

}